doctype html
html
  head
    title Landing Page
  body
    h1 "The future home of something awesome!"
    p Deep v letterpress swag, aesthetic cliche leggings flexitarian pinterest viral. Photo booth woke activated charcoal vape tumeric, beard XOXO deep v distillery man bun health goth kickstarter. Green juice artisan migas, hella VHS ennui biodiesel pop-up palo santo meh scenester forage chillwave poke. Beard meh austin, cold-pressed hoodie roof party occupy hot chicken.
