doctype html
html(lang="en")
  head
    title Post Page
  body
    section.post
      .container.text-right
        a(href="").text-faded view all
        .row
          .col-lg-8.col-lg-offset-2.text-center
            h2.section-heading I like to run!

            hr.light

            p.text-faded
              | Lorem ipsum dolor amet tbh jean shorts 90's keffiyeh crucifix four loko craft beer fashion axe artisan kitsch hammock banjo. Air plant swag kogi, franzen schlitz umami semiotics. Messenger bag blog retro etsy selvage vegan. Man braid wolf bespoke dreamcatcher man bun mumblecore, gluten-free tumblr keffiyeh trust fund distillery.

            .article
              | La croix banjo meggings selvage. Austin waistcoat flexitarian lo-fi enamel pin, man bun shoreditch chia meggings tattooed migas pabst. Adaptogen scenester godard flannel, cloud bread master cleanse fixie keffiyeh plaid crucifix VHS swag. Flannel letterpress stumptown tattooed. Shaman tote bag tumblr gochujang live-edge prism. +1 semiotics raw denim vice sustainable YOLO. Enamel pin twee jianbing vinyl bicycle rights intelligentsia pabst pug marfa, wolf distillery.
